.sideDrawer{
    height: 100%;
    background: #0e3b00;
    box-shadow: 2px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    max-width: 400px;
    z-index: 200;
 }


 .sideDrawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

.sideDrawer li {
    margin: 0.5rem 0 ;
}

 .sideDrawer a{
     color:rgb(255, 255, 255);
     text-decoration: none;
     font-size: 18px;
     width: 95%;
     height: 100%;
     display: flex;
     align-items: center;
     padding: 0 16px;
     border-radius: 4px;


 }

 .sideDrawer a:hover,
 .sideDrawer a:active {
     color:#fa923f;
 } 